<!doctype html>
<html lang="en">
<head>
    <title>IPL Data Analysis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style>
        .responsive {
            width: 100%;
            height: auto;
        }
        a+a {
            margin-left: 10px;
        }
    </style>

    <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='chart_js/chartdatajs.js') }}"></script>

    <script>
        window.onload = function () {

    // top_10_batsman_chart
    var jsonData = top_10_batsman_each_season
    var dataPoints = [];
    var chart = new CanvasJS.Chart("top_10_batsman_chart", {
        colorSet: "colorSet2",
        animationEnabled: true,
        animationDuration: 5000, 
      //exportEnabled: true,
      theme: "light2",
      title: {
        text: "Top 10 batsman of each IPL season",
        //fontColor: "black",
        fontWeight: "lighter",
        fontSize:28
    },
    axisY: {
        title: "Runs Scored",
        interval:150,
        includeZero: true,
        titleFontSize: 22,
        labelFontColor: "black",
        titleFontColor: "black"
    },
    axisX:{
        title: "Top 10 batsman",
        titleFontSize: 22,
        labelFontColor: "black",
        titleFontColor: "black"
    },
    toolTip: {
        borderThickness: 3  
    },
    data: [{
        type: 'bar',
        dataPoints: dataPoints // this should contain only specific serial number data
    }]
});

    // for initial data
    chart.options.data[0].dataPoints = [];
    var e = document.getElementById("dd");
    dps = jsonData[2020];
    for (var i in dps) {
        chart.options.data[0].dataPoints.push({
            label: dps[i].label,
            y: dps[i].y
        });
    }
    chart.render();

    $(".dropdown").change(function() {
        chart.options.data[0].dataPoints = [];
        var e = document.getElementById("dd");
        var selected = e.options[e.selectedIndex].value;
        dps = jsonData[selected];
        for (var i in dps) {
            chart.options.data[0].dataPoints.push({
                label: dps[i].label,
                y: dps[i].y
            });
        }
        chart.render();
    });



    // 200+_scoring_matches_chart
    var chart2 = new CanvasJS.Chart("200+_scoring_matches_chart", {
        colorSet: "colorSet2",
        animationEnabled: true,
        animationDuration: 5000, 
      //exportEnabled: true,
      theme: "light2", // "light1", "light2", "dark1", "dark2"
      axisY: {
        title: "Number of maches",
        titleFontSize: 22,
        includeZero: true,
        interval: 3,
        labelFontColor: "black",
        titleFontColor: "black"
      },
      title: {
        text: "Number of 200+ scoring maches in each IPL season",
        //fontColor: "black",
        fontWeight: "lighter",
        fontSize:28
    },
    axisX: {
        title: "Season",
        titleFontSize: 22,
        interval:1,
        labelFontColor: "black",
        titleFontColor: "black"
    },
    toolTip: {
        borderThickness: 3  
    },
    data: [{        
        type: "column",  
        dataPoints: number_of_200_plus_scoring_matches
    }]
});
    chart2.render();



    //win%_when_chasing_200+_chart
    var chart3 = new CanvasJS.Chart("win%_when_chasing_200+_chart", {
      theme: "light2", // "light1", "light2", "dark1", "dark2"
      //exportEnabled: true,
      colorSet: "colorSet2",
      animationEnabled: true,
      animationDuration: 3000, 
      title: {
        text: "Win % when chasing 200+ runs",
        //fontColor: "black", 
        fontWeight: "lighter",
        fontSize:28
    },
    legend : {
        fontColor: "black",
    },
    data: [{
        type: "pie",
        startAngle: 25,
        toolTipContent: "<b>{label}</b>: {y}%",
        showInLegend: "true",
        legendText: "{label}",
        indexLabelFontSize: 16,
        indexLabel: "{label} - {y}%",
        dataPoints: [
        { y: 17.30, label: "Win" },
        { y: 82.70, label: "Loss" },
        ]
    }]
});
    chart3.render();


    // toss winner % of success chart
    var chart4 = new CanvasJS.Chart("toss_winner_win%_chart", {
      theme: "light2", // "light1", "light2", "dark1", "dark2"
      //exportEnabled: true,
      colorSet: "colorSet2",
      animationEnabled: true,
      animationDuration: 3000, 
      title: {
        text: "Toss winners percentage of success",
        //fontColor: "black",
        fontWeight: "lighter",
        fontSize: 28
    },
    legend : {
        fontColor: "black",
    },
    data: [{
        type: "pie",
        startAngle: 30,
        toolTipContent: "<b>{label}</b>: {y}%",
        showInLegend: "true",
        legendText: "{label}",
        indexLabelFontSize: 16,
        indexLabel: "{label} - {y}%",
        dataPoints: toss_winners_percentage_of_success
    }]
});
    chart4.render();


    // max_6s_chart
    var sixData = top_10_six_hitter_per_season
    var dataPoints = [];
    var chart5 = new CanvasJS.Chart("max_6s_chart", {
        colorSet: "colorSet2",
        animationEnabled: true,
        animationDuration: 5000, 
      //exportEnabled: true,
      theme: "light2",
      title: {
        text: "Top 10 six hitters of each IPL season",
        fontWeight: "lighter",
        fontSize:28
      },
      axisY: {
        title: "Number of sixes",
        interval:10,
        includeZero: true,
        titleFontSize: 22,
        labelFontColor: "black",
        titleFontColor: "black"
      },
      axisX:{
        title: "Top 10 six hitters",
        interval:1,
        titleFontSize: 22,
        labelAngle: 145,
        labelFontColor: "black",
        titleFontColor: "black"
      },
      toolTip: {
        borderThickness: 3  
      },
      data: [{
        type: 'column',
        dataPoints: dataPoints // this should contain only specific serial number data
    }]
});

    // for initial data
    chart5.options.data[0].dataPoints = [];
    var e = document.getElementById("dd_6s");
    dps = sixData[2020];
    for (var i in dps) {
        chart5.options.data[0].dataPoints.push({
            label: dps[i].label,
            y: dps[i].y
        });
    }
    chart5.render();

    $(".dropdown").change(function() {
        chart5.options.data[0].dataPoints = [];
        var e = document.getElementById("dd_6s");
        var selected = e.options[e.selectedIndex].value;
        dps = sixData[selected];
        for (var i in dps) {
            chart5.options.data[0].dataPoints.push({
                label: dps[i].label,
                y: dps[i].y
            });
        }
        chart5.render();
    });



    // max_4s_chart
    var fourData = top_10_fours_hitter_per_season
    var dataPoints = [];
    var chart6 = new CanvasJS.Chart("max_4s_chart", {
        colorSet: "colorSet2",
        animationEnabled: true,
        animationDuration: 5000, 
      //exportEnabled: true,
      theme: "light2",
      title: {
        text: "Top 10 batsman with most 4s of each IPL season",
        fontWeight: "lighter",
        fontSize:28
      },
      axisY: {
        title: "Number of fours",
        interval:10,
        includeZero: true,
        titleFontSize: 22,
        labelFontColor: "black",
        titleFontColor: "black"
      },
      axisX:{
        title: "Top 10 batsman with most fours",
        interval:1,
        titleFontSize: 22,
        labelAngle: 145,
        labelFontColor: "black",
        titleFontColor: "black"
      },
      toolTip: {
        borderThickness: 3  
      },
      data: [{
        type: 'column',
        dataPoints: dataPoints // this should contain only specific serial number data
    }]
});

    // for initial data
    chart6.options.data[0].dataPoints = [];
    var e = document.getElementById("dd_4s");
    dps = fourData[2020];
    for (var i in dps) {
        chart6.options.data[0].dataPoints.push({
            label: dps[i].label,
            y: dps[i].y
        });
    }
    chart6.render();

    $(".dropdown").change(function() {
        chart6.options.data[0].dataPoints = [];
        var e = document.getElementById("dd_4s");
        var selected = e.options[e.selectedIndex].value;
        dps = fourData[selected];
        for (var i in dps) {
            chart6.options.data[0].dataPoints.push({
                label: dps[i].label,
                y: dps[i].y
            });
        }
        chart6.render();
    });



    // team % of matches won out of total matches played
    var chart7 = new CanvasJS.Chart("team_win_percentage_chart", {
        colorSet: "colorSet2",
        animationEnabled: true,
        animationDuration: 5000, 
      //exportEnabled: true,
      theme: "light2", // "light1", "light2", "dark1", "dark2"
      axisY: {
        title: "Percentage of Matches Won",
        titleFontSize: 22,
        includeZero: true,
        interval: 8,
        labelFontColor: "black",
        titleFontColor: "black"
      },
      title: {
        text: "Team percentage of matches won out of total matches played",
        //fontColor: "black",
        fontWeight: "lighter",
        fontSize:28
    },
    axisX: {
        title: "Team",
        titleFontSize: 22,
        interval:1,
        labelFontColor: "black",
        titleFontColor: "black"
    },
    toolTip: {
        borderThickness: 3  
    },
    data: [{        
        type: "bar",  
        dataPoints: team_win_percentage
    }]
});
    chart7.render();



    // highest_score_of_team
    var chart8 = new CanvasJS.Chart("highest_score_of_team_chart", {
        colorSet: "colorSet2",
        animationEnabled: true,
        animationDuration: 5000, 
      //exportEnabled: true,
      theme: "light2", // "light1", "light2", "dark1", "dark2"
      axisY: {
        title: "Score",
        titleFontSize: 22,
        includeZero: true,
        interval: 25,
        labelFontColor: "black",
        titleFontColor: "black"
      },
      title: {
        text: "Highest score of team",
        //fontColor: "black",
        fontWeight: "lighter",
        fontSize:28
    },
    axisX: {
        title: "Team",
        titleFontSize: 22,
        interval:1,
        labelAngle: 145,
        labelFontColor: "black",
        titleFontColor: "black"
    },
    toolTip: {
        borderThickness: 3  
    },
    data: [{        
        type: "column",  
        dataPoints: highest_score_of_team
    }]
});
    chart8.render();



    // top_10_most_wkt_taker
    var chart9 = new CanvasJS.Chart("top_10_most_wkt_taker_chart", {
        colorSet: "colorSet2",
        animationEnabled: true,
        animationDuration: 5000, 
      //exportEnabled: true,
      theme: "light2", // "light1", "light2", "dark1", "dark2"
      axisY: {
        title: "Wickets taken",
        titleFontSize: 22,
        includeZero: true,
        interval: 25,
        labelFontColor: "black",
        titleFontColor: "black"
      },
      title: {
        text: "Top 10 highest wicket taker in IPL history",
        //fontColor: "black",
        fontWeight: "lighter",
        fontSize:28
    },
    axisX: {
        title: "Bowler",
        titleFontSize: 22,
        interval:1,
        labelAngle: 145,
        labelFontColor: "black",
        titleFontColor: "black"
    },
    toolTip: {
        borderThickness: 3  
    },
    data: [{        
        type: "column",  
        dataPoints: top_10_most_wkt_taker
    }]
});
    chart9.render();


    // top_10_wkt taker of each ipl season
    var wktData = top_10_wkt_taker_of_each_season
    var dataPoints = [];
    var chart10 = new CanvasJS.Chart("top_10_wkt_taker_of_each_season_chart", {
        colorSet: "colorSet2",
        animationEnabled: true,
        animationDuration: 5000, 
      //exportEnabled: true,
      theme: "light2",
      title: {
        text: "Top 10 wicket taker of each IPL season",
        //fontColor: "black",
        fontWeight: "lighter",
        fontSize:28
    },
    axisY: {
        title: "Wickets taken",
        interval:3,
        includeZero: true,
        titleFontSize: 22,
        labelFontColor: "black",
        titleFontColor: "black"
    },
    axisX:{
        title: "Bowler",
        titleFontSize: 22,
        labelFontColor: "black",
        titleFontColor: "black"
    },
    toolTip: {
        borderThickness: 3  
    },
    data: [{
        type: 'bar',
        dataPoints: dataPoints // this should contain only specific serial number data
    }]
});

    // for initial data
    chart10.options.data[0].dataPoints = [];
    var e = document.getElementById("dd_wkt");
    dps = wktData[2020];
    for (var i in dps) {
        chart10.options.data[0].dataPoints.push({
            label: dps[i].label,
            y: dps[i].y
        });
    }
    chart10.render();

    $(".dropdown").change(function() {
        chart10.options.data[0].dataPoints = [];
        var e = document.getElementById("dd_wkt");
        var selected = e.options[e.selectedIndex].value;
        dps = wktData[selected];
        for (var i in dps) {
            chart10.options.data[0].dataPoints.push({
                label: dps[i].label,
                y: dps[i].y
            });
        }
        chart10.render();
    });


    // top 10 players with most man of the match awards
    var chart11 = new CanvasJS.Chart("most_man_of_the_match_awards_chart", {
        colorSet: "colorSet2",
        animationEnabled: true,
        animationDuration: 5000, 
      //exportEnabled: true,
      theme: "light2", // "light1", "light2", "dark1", "dark2"
      axisY: {
        title: "Number of time man of the match",
        titleFontSize: 22,
        includeZero: true,
        interval: 5,
        labelFontColor: "black",
        titleFontColor: "black"
      },
      title: {
        text: "Top 10 players with most man of the match awards",
        //fontColor: "black",
        fontWeight: "lighter",
        fontSize:28
    },
    axisX: {
        title: "Player",
        titleFontSize: 22,
        interval:1,
        labelAngle: 145,
        labelFontColor: "black",
        titleFontColor: "black"
    },
    toolTip: {
        borderThickness: 3  
    },
    data: [{        
        type: "column",  
        dataPoints: top_10_players_with_most_manofthematch_awards
	}]
    });
    chart11.render();
}
</script>

</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4">
                <h1><a href="{{ url_for('home') }}" class="logo">IPL Data Analysis & Prediction<span>(2008-2020)</span></a></h1>
                <ul class="list-unstyled components mb-5">
                    <li>
                        <a href="{{ url_for('home') }}"><span class="fa fa-home mr-3"></span>Home</a>
                    </li>

                    <li class="active">
                        <a href="{{ url_for('data_analysis') }}"><span class="fa fa-bar-chart mr-3"></span>IPL Data Analysis</a>
                    </li>
                    
                   <li>
						<a href="{{ url_for('playersrecord') }}"><span class="fa fa-pie-chart mr-3"></span>Players Records</a>
					</li>

                    <li>
                        <a href="https://ipl-winner-and-score-predictor.herokuapp.com/"><span class="fa fa-cogs mr-3"></span>IPL Winner & Score Predictor</a>
                    </li>
                </ul>




                <div class="footer text-center">
                    <p> 
                        <a  style="color: inherit;" target="_blank"href="https://github.com/Mann1904"><spam class="fa fa-github fa-lg contact-icon"></spam></a>

                        <a style="color: inherit;"target="_blank" href="https://www.linkedin.com/in/mann-saradva-aa37a0192/"><i class="fa fa-linkedin fa-lg contact-icon"></i></a>
                        <br>

                        <a>Made with ❤️ by Mann Saradva.</a>
                    </p>
                </div>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            <h1 class="mb-4" style="text-align: center;">IPL Data Analysis</h1>
            <hr style="border-top: 2px solid #111;">
            <br>
            <div id="highest_score_of_team_chart" style="height: 450px; width: 85%;"></div>
            <br>
            <hr style="border-top: 1px solid #111;">
            <div id="team_win_percentage_chart" style="height: 470px; width: 85%;"></div>
            <br>
            <hr style="border-top: 1px solid #111;">
            <div id="win%_when_chasing_200+_chart" style="width: 85%; height: 400px;"></div> 
            <br>
            <hr style="border-top: 1px solid #111;">
            <div id="200+_scoring_matches_chart" style="height: 400px; width: 85%;"></div>
            <br>
            <hr style="border-top: 1px solid #111;">
            <div id="toss_winner_win%_chart" style="width: 85%; height: 400px;"></div>
            <br>
            <hr style="border-top: 1px solid #111;">
            <div id="most_man_of_the_match_awards_chart" style="height: 450px; width: 85%;"></div>
            <br>
            <hr style="border-top: 1px solid #111;">
            <select class="dropdown" id="dd">
                <option value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
                <option value="2009">2009</option>
                <option value="2008">2008</option>
            </select>
            <div id="top_10_batsman_chart" style="height: 400px; width: 85%;"></div>
            <br>
            <hr style="border-top: 1px solid #111;">
            <select class="dropdown" id="dd_6s">
                <option value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
                <option value="2009">2009</option>
                <option value="2008">2008</option>
            </select>
            <div id="max_6s_chart" style="height: 430px; width: 85%;"></div>
            <br>
            <hr style="border-top: 1px solid #111;">
            <select class="dropdown" id="dd_4s">
                <option value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
                <option value="2009">2009</option>
                <option value="2008">2008</option>
            </select>
            <div id="max_4s_chart" style="height: 430px; width: 85%;"></div>
            <br>
            <hr style="border-top: 1px solid #111;">
            <div id="top_10_most_wkt_taker_chart" style="height: 450px; width: 85%;"></div>
            <br>
            <hr style="border-top: 1px solid #111;">
            <select class="dropdown" id="dd_wkt">
                <option value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
                <option value="2009">2009</option>
                <option value="2008">2008</option>
            </select>
            <div id="top_10_wkt_taker_of_each_season_chart" style="height: 430px; width: 85%;"></div>

        </div>
    </div>

    <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/main.js') }}" ></script>
    <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/canvasjs.min.js') }}" ></script>
</body>
</html>
