<!doctype html>
<html lang="en">
<head>
	<title>IPL Data Analysis & Prediction</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">	
	<style>
		.responsive{  
			width:100% ;
			height: auto;  
		}
		a+a {
			margin-left: 10px;
		}
	</style>

</head>

<body>
	
	<div class="wrapper d-flex align-items-stretch">

		<!-- Page Navigation bar  -->
		<nav id="sidebar">
			<div class="custom-menu">
				<button type="button" id="sidebarCollapse" class="btn btn-primary">
					<i class="fa fa-bars"></i>
					<span class="sr-only">Toggle Menu</span>
				</button>
			</div>
			<div class="p-4">

				<h1><a href="{{ url_for('home') }}" class="logo">IPL Data Analysis & Prediction<span>(2008-2020)</span></a></h1>
				
				<ul class="list-unstyled components mb-5">

					<li class="active">
						<a href="{{ url_for('home') }}"><span class="fa fa-home mr-3"></span>Home</a>
					</li>

					<li>
						<a href="{{ url_for('data_analysis') }}"><span class="fa fa-bar-chart mr-3"></span>IPL Data Analysis</a>
					</li>
					
				<li>
						<a href="{{ url_for('playersrecord') }}"><span class="fa fa-pie-chart mr-3"></span>Players Records</a>
					</li>

					<li>
						<a href="https://ipl-winner-and-score-predictor.herokuapp.com/"><span class="fa fa-cogs mr-3"></span>IPL Winner & Score Predictor</a>
					</li>

				</ul>


				<div class="footer text-center">
					<p> 
						<a  style="color: inherit;" target="_blank"href="https://github.com/Mann1904"><spam class="fa fa-github fa-lg contact-icon"></spam></a>

						<a style="color: inherit;"target="_blank" href="https://www.linkedin.com/in/mann-saradva-aa37a0192/"><i class="fa fa-linkedin fa-lg contact-icon"></i></a>
						<br>

						<a>Made with ❤️ by Mann Saradva.</a>
					</p>
				</div>

			</div>
		</nav>

		<!-- Page Content  -->
		<div id="content" class="p-0 p-md-0 pt-5">
			<div class="p-2 p-md-3 pt-2">
				<h1 class="mb-0" style="text-align: center;">IPL Data Analysis & Prediction
				</h1>
				<hr style="border-top: 2px solid #111;">
			</div>
			<img src="{{ url_for('static', filename='image/ipl1.png') }}" alt="data_analysis" class="responsive">
			<br><br>
		</div>	
	</div>


<!--       <div id="content" class="p-4 p-md-5 pt-5">
        <h1 class="mb-4" style="text-align: center;">IPL Data Analysis (2008-2020)</h1>
        <br>
        <img src="static//img2.jpg" alt="data_analysis" class="responsive">
      </div>
  -->		

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}" ></script>
</body>
</html>
